/**
 * 白色背景
 */
.zhucebeijin{
	border-radius:10px;
	background:#ffffff;
	height:500px;
	width:380px;
	position:fixed;
	top:160px;
	right:400px;
}
/**
 * 空格
 */
.form-grounp {
    width: 300px;
}
.lh60 {
    height: 60px;
    line-height: 60px;
}
.m-t-30 {
    margin-top: 30px;
}
/**
 * 会员注册图标
 */
.f-26 {
    font-size: 26px;
}
.c-2 {
    color: #222222;
}
.text-left {
    text-align: left!important;
}
/**
 * 短信注册方式
 */
.m-t-10 {
    margin-top: 10px;
}
.p-l-10 {
    padding-left: 10px!important;
}
.login-group {
    border-radius: 5px;
    background: #f7f7f7;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}
.bg-f7 {
    background: #F7F7F7;
	border: 0;
	outline: none;
}
.p-l-20 {
    padding-left: 10px!important;
	padding-top: 5px!important;
}
.login-group2 {
    border-radius: 5px;
    background: #f7f7f7;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 10px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
	width:140px;
	float: left;
}
.bg-f7-2 {
    background: #F7F7F7;
	border: 0;
	outline: none;
	width:100px;

}
.yzmjz{
	  margin: 0;
	  position: absolute;
	  top: 61%;
	  left: 31%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}
.bj{
	background-color:#d8d8d8;
	width:140px;
	height:53px;
	color: #FFFFFF;
	border:none;
	position: absolute;
	left: 53%;
	top: 56%;
	
}
/**
 * 注册会员
 */
.zchy{
	width:300px;
	height:50px;
	position: absolute;
	top: 80%;
	background:#f18700;
	border-radius:5px;
	line-height: 50px;
	
}
.ziti{
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size:22px;
	color:#FFFFFF;
}
.bc{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 68%;
	left: 23%;
}
.yyfhdl{
	position: absolute;
	top: 88%;
	left: 69%;
	font-size: 13px;
	color: #f18700;
}
.f-10{
	font-size: 10px;
	color: #999999;
	position: absolute;
	top: 95%;
	left: 20%;
}
.jt{
	position: absolute;
	top: 35%;
	left: 25%;
}
.fh{
	width: 100px;
	position: absolute;
	top: 50%;
	left: 20%;
}